.avatar-container{
  border-bottom: 1px solid #0d0d0d;
  background:  #4d4d4d url('https://static.pexels.com/photos/9374/lights-night-lens-blur.jpg') no-repeat fixed center;
  height: 50%
}

.avatar-big{
  width: 150px !important;
  height: 150px !important;
  border: 2px solid #ffffff;
  margin-top: 5%
}

.user-label{
  font-weight: bold;
}
